input.cell {
    text-align: center;
    caret-color: transparent;
}

.cellContainer {
    position: relative;
    display: inline-block;
}

.cellDisplay {
    position: absolute;
    display: inline-block;
    margin: auto;

    font-weight: 700;
        
    z-index: 201;
    pointer-events: none;
}

/* Cell Focused Styles */
input.cell:focus {
    box-shadow: 0px 0px 9px black;
    position:relative;
    z-index:200;
}
.size-4:focus {
    outline: lightgray solid 5px;
    outline-offset: -7px;
}
.size-9:focus {
    outline: lightgray solid 4px;
    outline-offset: -5px;
}
.size-16:focus {
    outline: lightgray solid 3px;
    outline-offset: -3px;
}

/* Cell Dimensions */
/* Cell Font Size */
/* Cell Border */
.size-4 {
    width: 8rem;
    height: 8rem;

    line-height: 8rem;
    font-size: 5rem;

    border: 2px black solid;
}
.size-9 {
    width: 3.58rem;
    height: 3.58rem;

    line-height: 3.58rem;
    font-size: 3rem;

    border: 1px black solid;
}
.size-16 {
    width: 2.02rem;
    height: 2.02rem;

    line-height: 2.02rem;
    font-size: 1.3rem;
    font-stretch: extra-condensed;
    font-weight: 700;
    
    border: 1px black solid;
}


/* Cell Background Color */
.cell-bg-blue {
    background-color: blue;
}

.cell-bg-red {
    background-color: red;
}

.cell-bg-green {
    background-color: green;
}

.cell-bg-yellow {
    background-color: yellow;
}

.cell-bg-orange {
    background-color: darkorange;
}

.cell-bg-magenta {
    background-color: magenta;
}

.cell-bg-cyan {
    background-color: cyan;
}

.cell-bg-lime {
    background-color: lime;
}

.cell-bg-purple {
    background-color: blueviolet;
}

.cell-bg-pink {
    background-color: deeppink;
}

.cell-bg-crimson {
    background-color: rgb(144, 0, 0);
}

.cell-bg-dark-purple {
    background-color: darkmagenta;
}

.cell-bg-dark-cyan {
    background-color: darkcyan;
}

.cell-bg-gray {
    background-color: gray;
}

.cell-bg-navy {
    background-color: navy;
}

.cell-bg-fire {
    background-color: firebrick;
}
.cell-bg-transparent {
    background-color: transparent;
}

/* Cell Text Color */
.cell-text-black {
    color: black !important;
}
.cell-text-white {
    color: white;
}
.cell-text-blue {
    color: blue;
}
.cell-text-red {
    color: red;
}
.cell-text-green {
    color: green;
}
.cell-text-yellow {
    color: yellow;
}
.cell-text-orange {
    color: darkorange;
}
.cell-text-magenta {
    color: magenta;
}
.cell-text-cyan {
    color: cyan;
}
.cell-text-lime {
    color: lime;
}
.cell-text-purple {
    color: blueviolet;
}
.cell-text-pink {
    color: deeppink;
}
.cell-text-crimson {
    color: rgb(144, 0, 0);
}
.cell-text-dark-purple {
    color: darkmagenta;
}
.cell-text-dark-cyan {
    color: darkcyan;
}
.cell-text-gray {
    color: gray;
}
.cell-text-navy {
    color: navy;
}
.cell-text-fire {
    color:firebrick;
}
.cell-text-transparent {
    color: transparent;
}
.cell-text-disabled {
    opacity: 45%;
}
