
.configurator-container > {
    display: block;
    border: none;
}

.configurator-container {
    position: fixed;
    width: 200px;
    height: 100%;
}

.configurator-header {
    font-size: 1.4rem;
    font-weight: 600;
}

.min-w-200 {
    min-width: 170px;
}

.btn:hover {
    opacity: 60%;
}

.btn-theme-light {
    background-color: white !important;
}

/* Highlight Selected boardsize button */
.size-4-selected :nth-child(2) {
    background-color: rgb(208,208,208) !important;
}
.size-9-selected :nth-child(3) {
    background-color: rgb(208,208,208) !important;
}
.size-16-selected :nth-child(4) {
    background-color: rgb(208,208,208) !important;
}